flask
flask-cors

#opentelemetry-api 
#opentelemetry-sdk 
#opentelemetry-exporter-otlp-proto-http 
#pentelemetry-instrumentation-flask 
#pentelemetry-instrumentation-requests

aws-xray-sdk

watchtower

blinker
rollbar
